#bike,#walk,#drive,#fly{
    float: left;
}
.result{
    background-color: blueviolet;
    text-align: center;
}    
.randDest, #welcome{
    text-align: center;
}    
.button{
    text-align: center;
}
.card-body{
    border: solid black;
}
.container{
    border-radius: 20px;
    width: 1000px;
    height: 500px;
    background-color: aqua;
    padding: 20px;
    margin-top: 20px;
    position: relative;
}
.vehicles{
    position: relative;
}
.container-result{

    text-align: center;
    bottom: 10px;
}

.card-text{
    text-align: center;
}
/* .main{
    /* background: url("../images/background-image.jpg"); */
