#bike,#walk,#drive{
    float: left;
}
#bike,#walk,#drive{
    margin-right: 10px;
}
#walk{
    margin-left: 10px;
}
.result{
    background-color: blueviolet;
    text-align: center;
}    
.randDest, #welcome{
    text-align: center;
}    
.button{
    text-align: center;
}
.btn{
    margin-bottom: 10px;
}
/* .card-body{
    border: solid black;
} */
#welcome{
    font-family: 'Monoton', cursive;
    font-size: 60px;
}
.randDest{
    font-family: 'Shadows Into Light Two', cursive;
}
.container{
    border-radius: 20px;
    width: 1050px;
    height: 500px;
    background-color: aqua;
    padding: 20px;
    margin-top: 20px;
    position: relative;
}
.card-text{
    text-align: center;
}
/* .main{
    /* background: url("../images/background-image.jpg"); */
